<html>
  <head>Basic Number Guesser</head>
  <body>
    <p> The SECRET number is <%= secret_number %> </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p> Your guess was <%= guess %> </p>
    <p> <%=message%> </p>

  </body>
</html>
