<!DOCTYPE html>
<html>
  <head>
    <title>Caesar Cipher</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>
  <body>
    <div class="transbox">
    <h1> Caesar Cipher </h1>
    <p>
      "The Caesar cipher, also known as a shift cipher, is one
      of the simplest forms of encryption. It is a substitution
      cipher where each letter in the original message (called the plaintext)
      is replaced with a letter corresponding to a certain number of letters
      up or down in the alphabet."
    </p>
    <a href="https://learncryptography.com/classical-encryption/caesar-cipher">
      More information on the Cipher (site quote above...)
    </a>
    <h2> This is My version </h2>
    <p>  </p>
    <form>
      insert text to encript:
      <input type="text" name="input"/><br>
      insert shift value:
      <input type="text" name="shift"><br>
      <input type="submit" value="Encrypt">
    </form>
    <p> Output: <%= output %> </p>
    </div>
  </body>
  <footer>
    <div class="transbox">
    <p>Posted by: Michael Orlando</p>
    <p>GitHub: <a href="https://github.com/michaeljohnorlando">My GitHub </a>.</p>
    <p> The Odin Project... and some help from
      <a href="https://github.com/mindovermiles262">Andy</a>
      and
      <a href="https://github.com/vladL2C">vlad</a>
    </div>
  </footer>
</html>
